<:Title>
  Database Test

<:Body>
  <h1>DB Test Page</h1>
  
  <table class="table">
    {#each store._items as item}
      <tr>
        <td><input type="text" value="{item._name}" /></td>
        <td><input type="checkbox" checked="{item._complete}" /></td>
        <td><button e-click="remove_item_at(index)">X</button></td>
      </tr>
      {#if true}
      <tr>
        <td colspan="3">
          <h4>SubList</h4>
          
          <table class="table">
            {#each item._lists as list}
              <tr>
                <td>{list._name}</td>
                <td><button e-click="item._lists.delete(list);">X</button></td>
              </tr>
            {/}
          </table>
          
          <p>
            <form e-submit="item._lists << {_name: page._new_list.cur} ; page._new_list = ''">
              <input type="text" value="{page._new_list}" />
              <button>Add</button>
            </form>
          </p>
          
          
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr />
        </td>
      </tr>
      {/}
    {/}
  </table>
  
  <div>
    <form e-submit="store._items << {_name: page._new_item.cur} ; page._new_item.cur = '' ; puts 'add'">
      <input type="text" value="{page._new_item}" />
      <button>Add</button>
    </form>
  </div>
  
  <button e-click="add_items">Add</button>
