<:Title>
  Demo

<:Body>

  <a name="top">Top Anchor</a>

  <hr />

  <h1>Demo Page</h1>

  <p>This is some of the interesting content from page 1.</p>

  <:spinner color="#c11c21" />

  <p>
    <input type="text" value="{params._name}" />
    <input type="text" value="{params._name}" />
  </p>

  <p>
  <a e-click="params._controller='page1'">Page 1</a> |
  <a e-click="params._controller='page2'">Page 2</a> |
  <a href="#top">Top</a> | <a href="#bottom">Bottom</a>
  </p>

  <a e-click="params._awesome._cool='yes'; params.delete(:_controller)">Test Nested</a><br />
  <a href="/awesome">Test Nested 2</a>


  <p>
    <input type="checkbox" id="check1" checked="{_cool1}"><label for="check1"> Check 1</label>
  </p>

  {#if _cool1}
  Checked
  {/}

  <p>
    <select>
      <option value="cool">Cool</option>
      <option value="beans">Beans</option>
      <option value="dude">Dude</option>
    </select>
  </p>

  <br /><br />


  <p>
    <button e-click="send_message">Send</button>
  </p>

  <button e-click="missing_meth">Missing</button>
  <a name="bottom">Bottom Anchor</a>
  <hr />
