<:Title>
  Landing

<:Body>
  <div class="jumbotron">
    <h1>Landing Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in risus ultricies, vestibulum mi eget, pharetra eros. In ut metus purus. Nulla ultrices in risus vitae mollis. Donec vestibulum lectus sed libero gravida mollis. Phasellus vulputate tincidunt sem a posuere. Mauris sit amet ipsum quis ligula tempor vehicula id consequat orci. Morbi non dapibus arcu. Maecenas consectetur nisi eu nisl euismod sollicitudin.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>

