<:Title>
  Blog

<:Body>
  <div class="row">
    <div class="col-md-4">
      <ul>
        {#each _posts as post}
          <li>{post._title}</li>
        {/}
      </ul>

      <p>
        <button e-click="toggle_comments">Toggle Comments</button>
      </p>
    </div>
    <div class="col-md-8">
      <h1><:editable-text value="{page._blog_name}" /></h1>

      {#each _posts as post}
        <h2>{post._title}</h2>
        <p>[<a e-click="_posts.delete_at(index)">remove</a>]</p>
        <p>{post._body}</p>

        {#if controller._showing_comments}
          <:comments show="25" post="{post}" />
        {/}
        <hr />
      {/}

      <hr />
      <div class="newPost">
        <h3>Add Post</h3>

        <form e-submit="add_post">
          <:fields:text value="{page._new_post._title}" />
          <:fields:textarea value="{page._new_post._body}" />

          <button>Post</button>
        </form>

      </div>
    </div>
  </div>
