<:Title>
  Switches

<:Body>
  <h1>Switches</h1>
  
  <table>
    <tr>
      <td><input type="checkbox" checked="{_box1}" /></td>
      <td></td>
      <td>{#if _c1}X{/}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="checkbox" checked="{_box4}" /></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="checkbox" checked="{_box2}" /></td>
      <td></td>
      <td>{#if _c2}X{/}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="checkbox" checked="{_box5}" /></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="checkbox" checked="{_box3}" /></td>
      <td></td>
      <td>{#if _c3}X{/}</td>
    </tr>
  </table>

